@page "/categories"
@using ProySprintIII.Client.Pages.Components
@inject IServiceMovie movie

<div class="form-group">
    <a href="/categories/create" class="btn btn-info">Crear Categoria.</a>
    <a href="/categories/edit/4" class="btn btn-info">Editar Categoria.</a>
    
</div>

@code{

}