@page "/movies/"
<div class="jumbotron">
    <br><h6>Películas.</h6>
    <br>
    <a href="/movies/search" class="btn btn-info">Buscar películas.</a>
    <a href="/movies/create" class="btn btn-info">Agregar película.</a>
    <a href="/movie/edit/1" class="btn btn-info">Editar película.</a>


</div>

@code{

}